@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --primary-color: #7159c1;
    --secondary-color: #f7df1e;
}

*{
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 32px;
}

.links a + a{
    margin-left: 32px;
}

.links a{
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active{
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover{
    color: var(--primary-color);
}

.links a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after{
    width: 100%;
    transition: width 200ms cubic-bezier(0.51,-0.43, 0.27, 1.55);
}

/* === INSTRUCTORS/INDEX === */

.card{
    width: 800px;
    min-height: 400px;
    background-color: white;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 12px 11px 15px 1px black;

    animation: up;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
}

@keyframes up{
    /* 0% */
    from{
        opacity: 0;
        transform: translateY(15px);
    }

    /* 30%{

    } */

    /* 100% */
    to{
        opacity: 1;
    }
}

.details {
    margin: 32px;
}

.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0px;
}

.details .item:last-child{
    border: none;
}

.details h3,
.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}

/*=== INSTRUCTORS/CREATE ===*/
input{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"], a.button{
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#delete-button {
    margin-top: 8px;
    background-color: lightcoral;
}

/*=== INSTRUCTORS/INDEX TABLE ===*/
.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container .new-button{
    background-color: green;
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    display: inline-block;
    align-content: flex-end;
}

.table-container tbody tr td{
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #d9d9d9;
}

th{
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

.table-container tbody tr:last-child td{
    border-bottom: none;
}

tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td a{
    background-color: var(--primary-color);
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

.table-container .header{
    display: grid;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header form{
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    justify-content: space-between;
    grid-gap: 8px;
}

.table-container .header button{
    margin: 0;
    border-radius: 6px;
}

.table-container .header input{
    border: 1px solid #eee;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 6px;
}

.table-container{
    display: grid;
    grid-template: 64px 1fr 16px 64px / 1fr;
}

.table-container .header{
    margin: 0;
    align-self: start;
}

.table-container .pagination{
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a,
.pagination span{
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 8px;
}

.pagination a:hover{
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
}