{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Instrutor</th>
                    <th>Atividades</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors%}
                    <tr>
                      <td>
                      <span style="background-image: url({{instructor.avatar_url}})"></span>
                      {{instructor.name}}</td>
                      <td>{{instructor.services}}</td>
                      <td><a href="/instructors/{{instructor.id}}">Ver</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="/instructors/create" class="new-button">Novo</a>
    </div>
{% endblock content %}