{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        <div class="header">
          <form action="/members" method="GET">
            <a href="/members/create" class="new-button">Novo</a>
            <input 
              type="text"
              name="filter"
              placeholder="Filtrar por nome ou email"
              value={{filter}}
            >
            <button type="submit" class="filter-button">Filtrar</button>
          </form>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Members</th>
                    <th>Email</th>
                    <th>Altura (cm)</th>
                    <th>Peso (kg)</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members%}
                    <tr>
                      <td>
                      <span style="background-image: url({{member.avatar_url}})"></span>
                      {{member.name}}</td>
                      <td>{{member.email}}</td>
                      <td>{{member.height}}</td>
                      <td>{{member.weight}}</td>
                      <td><a href="/members/{{member.id}}">Ver</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <div class="pagination"
          data-page="{{pagination.page}}"
          data-total="{{pagination.total}}"
          data-filter="{{filter}}">
        </div>
    </div>
{% endblock content %}